.container {
  position: fixed;
  top: 0;
  right: 100px;
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.onlines {
  display: flex;
}

.myImg {
  flex: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 4px;
}

.members {
  display: flex;
  align-items: center;
  width: 90px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.memberNum {
  margin-left: 8px;
  font-size: 0.9rem;
  font-weight: bold;
}

.offToggle {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url(../asset/Chevron.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.onToggle {
  width: 16px;
  height: 16px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  background-image: url(../asset/Chevron.svg);
  background-size: cover;
  background-repeat: no-repeat;
  animation: down 0.3s ease forwards;
}

@keyframes down {
  0% {
    margin-top: 2px;
  }
  100% {
    margin-top: 10px;
  }
}

.others {
  cursor: default;
  position: fixed;
  right: 50px;
  top: 70px;
  width: 180px;
  max-height: 200px;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.25);
  padding: 0px 8px;
}

.others::-webkit-scrollbar {
  width: 4px;
}
.others::-webkit-scrollbar-thumb {
  height: 10%;
  background: #cecdcd;
  border-radius: 10px;
}

.others::-webkit-scrollbar-track {
  background: #fff;
}

.memberList {
  align-items: center;
  display: flex;
  width: 100%;
  padding: 8px 8px 8px 8px;
}

.line {
  border: #f3f3f3 1px solid;
}

.memberContent {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.isMe {
  margin: 1px;
  font-size: 0.8rem;
  color: #7a7a7a;
}

.memberName {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1px;
}
.online {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #40b681;
}
.offline {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #7a7a7a;
}

.memberBox {
  display: flex;
  align-items: center;
  padding-right: 8px;
}
