.container {
  width: calc(100vw - 72px);
  height: 100vh;
  display: flex;
  overflow-x: hidden;
  position: relative;
}

.main {
  width: 420px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-shadow: rgb(0, 0, 0, 0.1) 4px 4px 10px 0;
}

.titleBox {
  display: flex;
  align-items: center;
  padding: 20px 30px;
}

.titleBox p {
  color: #3d3c3c;
  font-size: 20px;
  font-weight: bold;
  margin-left: 10px;
}

.line {
  border: #e6e8ec 1px solid;
  margin: 0 30px;
}

.userBox {
  display: flex;
  padding: 10px 30px;
}

.userBox img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 7px;
  border: #858585 3px solid;
}

.list {
  /*width: calc(100% - 45px);*/
  width: 380px;
  height: 100%;
  margin-left: 30px;
  margin-top: 10px;
}

.itemBox {
  padding: 10px 0;
}

.scroll {
  overflow-y: scroll;
  padding: 0 10px 0 3px;
}

.scroll::-webkit-scrollbar {
  width: 4px;
}

.scroll::-webkit-scrollbar-thumb {
  height: 10%;
  background: #cecdcd;
  border-radius: 10px;
}

.scroll::-webkit-scrollbar-track {
  background: #fff;
}

/* 아래부턴 오른쪽 박스 */
/*--------------------------------------------------------------*/

.mainRight {
  width: calc(100vw - 492px);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rightHeader {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 30px;
}

.leftSection {
  display: flex;
  align-items: center;
}

.leftSectionP {
  margin-left: 10px;
  color: #545454;
  font-size: 20px;
  font-weight: bold;
}

.update {
  margin-left: 20px;
  margin-top: 2px;
}

.scheduleContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.scheduleSection {
  min-width: 363px;
  width: 363px;
  min-height: 100%;
  height: auto;
  margin: 30px;
  padding-bottom: 20px;
  position: relative;
}

.scHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.scHeaderBox {
  display: flex;
  justify-content: center;
  align-items: end;
}

.scP1 {
  font-size: 20px;
  font-weight: bold;
}

.scP2 {
  margin-left: 10px;
  font-size: 14px;
  color: #979797;
  font-weight: bold;
}

.line2 {
  border: #e6e8ec 1px solid;
  width: calc(100% - 60px);
  margin: 0 30px;
}

.itemBox2 {
  /*padding: 10px 0;*/
}

.divBox {
  position: relative;
  flex-direction: column;
  min-height: 100%;
  height: auto;
  padding-bottom: 20px;
}

.draggingItem {
  /* 들고있을때 컴포넌트 스타일 변경 */
  /*background-color: white;*/
}

.placeholder {
  /*  들고 있을때 원래 있던 자리의 플레이스홀더  */
  display: none;
}

.scrollX {
  overflow-x: scroll;
  padding: 0 10px 0 3px;
  margin: 5px 10px;
}

.scrollX::-webkit-scrollbar {
  height: 10px;
}

.scrollX::-webkit-scrollbar-thumb {
  width: 10%;
  background: #cecdcd;
  border-radius: 10px;
}

.scrollX::-webkit-scrollbar-track {
  background: #fff;
}

.loadingModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1100;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.3);
}

.saveBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 40px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  color: #04acb5;
  gap: 6px;
  transition: 0.1s ease;
  background-color: white;
}

.routeBox {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  right: 130px;
  bottom: 30px;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  box-shadow: -2px -2px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 0.9rem;
  color: black;
  gap: 6px;
  transition: 0.1s ease;
  background-color: white;
}
.routeIcon {
  background-image: url(../asset/mapRoute.svg);
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: contain;
}

.saveIcon {
  background-image: url(../asset/save.svg);
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
  z-index: 6;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.routeBox:hover {
  transform: scale(1.05);
}

.saveBox:hover {
  transform: scale(1.05);
}

.modalBox {
  width: 500px;
  height: 200px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #545454;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalBtns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  width: 100%;
  margin-top: 50px;
}

.cancelBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #f7f7f7;
  font-size: 1.1rem;
  cursor: pointer;
}

.confirmBtn {
  font-size: 1.1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: #04acb5;
  color: #fff;
}

.warnBox {
  position: fixed;
  top: -500px;
  left: calc(50% - 150px);
  width: 320px;
  height: 150px;
  z-index: 999;
  background-color: white;
  box-shadow: 0px 0px 30px 0px rgba(48, 54, 77, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 0.9rem;
  color: #545454;
}

.warnShow {
  animation: warnShow 1s ease forwards;
}

.warnNo {
  animation: warnNo 1s ease forwards;
}

@keyframes warnNo {
  0% {
    top: 30px;
  }
  100% {
    top: -500px;
  }
}

@keyframes warnShow {
  0% {
    top: -500px;
  }
  100% {
    top: 30px;
  }
}

.warnIcon {
  width: 36px;
  height: 36px;
  background-image: url(../asset/warn.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
