.main {
    width: 100vw;
    height: 100vh;
    background-color: white;
    flex-direction: column;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBox {
    margin-top: 88px;
    margin-bottom: 53px;
    color: #AAAAAA;
}

.text {
    margin: 0 14px;
}

.line {
    width: 100px;
    height: 1px;
    background-color: #AAAAAA;
}

.image {
    height: 9%;
    width: auto;
}

.loginBtn {
    height: auto;
    width: 23%;
    margin: 1% 0;
}