.container {
    width: 66px;
    height: 33px;
    border-radius: 50px;
    border: #D9D9D9 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.p {
    margin-left: 5px;
    font-size: 15px;
}