.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.line {
    height: 15px;
    border: #858585 2px solid;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}

.time {
    margin-left: 5px;
    color: #757575;
}