.header {
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.title {
  font-size: 2.3rem;
  font-weight: bold;
  color: #262626;
}

.btn {
  font-weight: bold;
  font-size: 1.3rem;
  align-self: flex-start;
  pointer-events: fill;
}

.disable {
  animation: turnOff 0.5s ease forwards;
  cursor: not-allowed;
}

@keyframes turnOff {
  0% {
    color: #4fbdb7;
  }
  100% {
    color: #858585;
  }
}

.able {
  cursor: pointer;
  animation: turnOn 0.5s ease forwards;
}

@keyframes turnOn {
  0% {
    color: #858585;
  }
  100% {
    color: #4fbdb7;
  }
}

.titleInput {
  outline: none;
  border: none;
  font-size: 1.8rem;
  /* font-weight: ; */
  margin-top: 50px;
}

.titleInput::placeholder {
  color: #858687;
}

.busIcon {
  position: absolute;
  bottom: 10px;
  right: 50px;
}

.back {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.checkContainer {
  padding: 50px 40px;
  width: 350px;
  height: 400px;
  background-color: white;
  border-radius: 5px;
}

.checkTitle {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.cancelBtn {
  background-color: #d9d9d9;
}
.checkContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkQuesetion {
  font-size: 1.1rem;
  color: #4fbdb7;
  margin-top: 12px;
}
.checkAnswer {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 8px;
}

.footBtn {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

.confirmBtn {
  background-color: #4fbdb7;
  color: white;
}
