.main {
  width: 400px;
  height: 400px;
  box-shadow: rgb(224, 224, 224) 0px 0px 20px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  animation: fade-in 1s ease;
}
.cardImgBox {
  width: 380px;
  height: 335px;
  animation: fade-in 1s ease;
}

.cardImg {
  border-radius: 5px;
}

.section {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 12px;
}

.mapIcon {
  background: url(./asset/mapIcon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 20px;
  margin-left: 10px;
  margin-right: 5px;
}

.p {
  font-weight: 600;
  color: #545454;
  font-size: 18px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
