.main {
    border: none;
    border-radius: 50px;
    box-shadow: rgb(224, 224, 224) 0 2px 4px 0;
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    outline: none;
    height: 50px;
    width: 480px;
    font-size: 25px;
    border: none;
    margin: 0 20px 0 10px;
}

.image {
    width: 45px;
    height: 42px;
}