.main {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main:hover {
    color: #04ACB5;
}

.image {
    width: 30px;
    height: 26px;
    margin-bottom: 5px;
}

.p {
    font-weight: bold;
}

.pCheck {
    color: #04ACB5;
    font-weight: bold;
}