.container {
  display: flex;
  width: 100%;
  height: 100vh;
  margin-top: 100px;
  margin-bottom: 150px;
}
.leftSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding-left: 100px;
}
.contentBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  width: 100%;
}
.titleIcon1 {
  background: url(./assets/bannerIcon1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}
.titleIcon2 {
  background: url(./assets/bannerIcon2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}
.titleIcon3 {
  background: url(./assets/bannerIcon3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 80px;
  width: 80px;
}
.titleBox {
  margin-left: 50px;
}
.title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #5c5e64;
  margin-bottom: 10px;
}
.subTitle p {
  color: #5c5e64;
  font-size: 1.3rem;
  margin-bottom: 5px;
}
.rightSection {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  padding-right: 210px;
}
.sampleCard {
  position: relative;
  background: url(./assets/sampleCard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 535px;
  width: 400px;
  border-radius: 30px;
  box-shadow:
    40px -30px 100px 0 rgba(79, 189, 183, 30%),
    0px 4px 30px 0 rgba(0, 0, 0, 5%),
    5px 5px 30px 0 rgba(0, 0, 0, 5%),
    20px 20px 50px 0 rgba(0, 0, 0, 10%);
}

.sampleSubCard {
  position: absolute;
  bottom: -80px;
  right: -100px;
  background: url(./assets/sampleCard2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 150px;
  width: 220px;
  border-radius: 15px;
  box-shadow:
    0px 4px 30px 0 rgba(0, 0, 0, 5%),
    5px 5px 30px 0 rgba(0, 0, 0, 5%),
    20px 20px 50px 0 rgba(0, 0, 0, 10%);
}
